<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About:</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> About Intelligent Traffic System </h1>
    <p> Analysing traffic has often been proved a vital task as it helps predict the effects the traffic would have on an environment. Whether we consider it as a measurement of pollution levels, the availability of parking spaces, security validation or just an avoidance of congestion, automatic identification and tracking of vehicles helps speed up the entire process without any manual operations. Training a model to recognize and differentiate between different types of vehicles using a suitable learning technique and teaching it to perform analysis with the acquired data is an efficient method to solve the above stated problems related to parking and space management.</p>
    <p> This project aims to perform a real time analysis of traffic in the RVCE campus </p>
    {% endblock %}
  </body>
</html>
